<ion-content>
  <img class="imgModal" src="../../assets/Imagens/Mask Group 1_2x.png">
  <div id="cardLogin">
    <p class="text_login1">Realize seu login com:</p>
    <ion-card class="cardFace">
      <ion-row>
        <img class="imgFace" src="../../assets/Imagens/facebook-rect.svg">
        <ion-col>
          <p class="text_facebook">Continue com Facebook</p>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card class="cardGoogle" (click)="goToHome()">
      <ion-row>
        <img class="imgGoogle" src="../../assets/Imagens/Group 40.svg">
        <ion-col>
          <p class="textGoogle">Continue com Google</p>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card class="cardApple">
      <ion-row>
        <img class="imgApple" src="../../assets/Imagens/apple.svg">
        <ion-col>
          <p class="textApple">Continue com Apple</p>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card class="cardEmail">
      <ion-row>
        <img class="imgEmail" src="../../assets/Imagens/email.svg">
        <ion-col>
          <p class="textEmail">Continue com E-mail</p>
        </ion-col>
      </ion-row>
    </ion-card>
    <p class="text_ou">ou</p>
    <p class="textCrie">Crie sua conta</p>
  </div>

  <ion-button class="color_button" expand="block" class="btn_entrar">REALIZE O SEU LOGIN</ion-button>
</ion-content>