#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.img_perfil{
  float: left;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
}

.img_bag{
  float:right;
  position: relative;
  margin-top: -340px;
  margin-right: 20px;
}

.text_entrega{
 position:relative;
 margin-left: 45px;
 margin-top: -175px;
 font-size: 12px;
 font-family: 'Barlow';
}

#retangulo{
 width: 2000px;
 height: 200px;
 background-color: #e8d1d8;
 border-end-start-radius: 50px;
 border-end-end-radius: 50px;
}

.searchbar{
  margin-top: -140px;
  --background: white;
  font-size: 11px;
  font-family: 'Barlow';
  --color: #594036;
  height: 30px;
  border-radius: 50px;
}

.slides{
  margin-top: -70px;
}

.text_fideli{
  margin-left: 20px;
  font-size: 22px;
  font-family: 'Fraunces';
  color: #594036;
  margin-top: 28px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.card_points{
  border-radius: 50px;
  height: 28px;
  width: 129px;
  margin-top: 25px;
  margin: 0 auto;
  float: end;
  position: relative;
  background-color: #e8d1d8;
}

.text_points{
  font-size: 14px;
  font-family: 'Barlow Semi';
  color: #594036;
  margin-top: 5px;
}

.progressBar_fideli{
  width: 60px; 
  height: 7px;
  border-radius: 20px;
  --background:#e8d1d8;
  --progress-background:#594036;
}

// .text_pedir{
//   margin-left: 20px;
//   font-size: 22px;
//   font-family: 'Fraunces';
//   color: #594036;
//   margin-top: 30px;
// }

// .card_pedir{
//   border-radius: 10px;
//   width: 220px;
// }

// .slidepedido{
//   margin-top: -30px;
//   overflow-x: scroll;
// }

// .naked_img{
//   width: 90px;
//   height: 95px;
// }

// .text_naked{
//   margin-top: 4px;
//   text-align: center;
//   font-family: 'Barlow Semi';
//   font-size: 18px;
//   float: left;
//   color: #594036;
//   margin-left: 10px;
// }

// .text_naked2{
//   margin-top: -8px;
//   font-size: 13px;
//   float: left;
//   text-align: center;
//   margin-left: 10px;
// }

// .text_naked_preco{
//   margin-top: -10px;
//   font-size: 12px;
//   font-family: 'Barlow Semi';
//   color: #594036;
//   float: left;
//   margin-left: 10px;
// }

// .text_encomenda{
//   margin-left: 20px;
//   font-size: 22px;
//   font-family: 'Fraunces';
//   color: #594036;
//   margin-top: 20px;
// }

// .cards_encomen{
//  margin-top: -30px;
// }

// .card_bolos_encomen{
//   width: 145px;
//   height: 145px;
// }

// .text_bolo1{
//   font-family: 'Barlow Bold';
//   font-size: 16px;
//   text-align: center;
//   margin-top: -24px;
//   position:relative;
//   color: #594036;
// }

// #div_bolo1{
//   margin-top: -52px;
//   margin-left: 16px;
//   position: relative;
//   background-color: #F0F5EA;
//   opacity: 0.6;
//   border-end-end-radius: 10px;
//   border-end-start-radius: 10px;
//   height: 30px;
//   width: 145px;
// }

// #footer{
//   width: 1903px;
//  height: 50px;
//   border-top-left-radius: 50px;
//   border-top-right-radius: 50px;
//   background-color: #e8d1d8;
//   z-index: 500;
//   top: 56rem;
// }

// .home{
// float: left;
// margin-top: 18px;
// margin-left: 70px;
// }

// .pedidos{
//   float: left;
//   margin-top: 18px;
//   margin-left: 70px;
// }

// .saves{
//   float: left;
//   margin-top: 18px;
//   margin-left: 70px;
// }